[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vi
[push]
    default = simple
[alias]
    lg = log --stat
    l = log --all --graph --oneline --decorate
    h = help -w
    s = status -sb
    d = diff -w
    dw = diff -w --color-words
    dc = diff -w --cached
    dcw = diff -w --cached --color-words
    unstage = reset HEAD --

[merge]
    tool = sublimerge
[mergetool "sublimerge"]
    cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
    trustExitCode = false
[diff]
    algorithm = patience
