# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List all files colorized in long format
alias ls="ls -CF ${colorflag}"


alias c='clear'
alias g='gnuplot'
alias l='ls'
alias ll='ls -Al'
alias lll='ls -A'
alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd -'
alias vi='vim'
alias work='cd p;_'


# Box IP addresse
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"


alias rasp='ssh pi@raspberrypi -X'
