# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Cache files
.*.swp

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime workspace
*.sublime-workspace
*.sublime-project

# Python overage
.coverage
