[user]
    name = Victor Cameo 
    email = cameo@cines.fr
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vi
[push]
    default = simple
[alias]
    lg = log --stat
    l = log --all --graph --oneline --decorate
    h = help -w
    s = status -sb
    d = diff -w
    dc = diff -w --cached
    unstage = reset HEAD --

[merge]
    tool = sublimerge
[mergetool "sublimerge"]
    cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
    trustExitCode = false
[diff]
    tool = sublimerge
[difftool "sublimerge"]
    cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
